.about-me {
	display: flex;
	width: 100%;
	padding-top: 20px;
	&__hello {
		position: relative;
		background-color: $yellow;
		display: inline-block;
		color: $white;
		width: auto;
		padding: 10px 20px;
		text-transform: uppercase;
	}
	&__hello:before {
		content: "";
		width: 0;
		border-style: solid;
		border-width: 12px 12px 0 0;
		border-color: $yellow transparent transparent transparent;
		bottom: -12px;
		left: 0px;
		position: absolute;
	}
	&__text-box {
		padding-left: 40px;
		font-family: 'Quicksand', sans-serif;
	}
	&__title {
		color: $black;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 2.5rem;
		margin: 40px 0 40px 0;
		text-transform: uppercase;
		border-bottom: 3px solid $yellow;
		width: 215px;
	}
	&__skills-title {
		color: $black;
		border-bottom: 3px solid $yellow;
		width: 165px;
		font-family: 'Josefin Sans', sans-serif;
		text-transform: uppercase;
		margin: 40px 0;
		font-size: 1.8rem;
	}
	&__image {
		max-width: 100%;
	}
	&__icon-image {
		width: 8%;
		margin: 0 10px 0 0;
	}
	&__resume {
		padding: 40px 0;
	}
}

.images {
	width: 50%;
}

@media (max-width: 830px) {

	.about-me {
		flex-direction: column;
		&__hello {
			margin-top: 20px;
		}
		&__text-box {
			padding: 0;
		}
		&__image {
			max-width: 60%;
			display: block;
			margin: 0 auto;
		}	
		&__list {
			margin-top: 20px;
		}
	}

@media (max-width: 600px) {
	.about-me {
		&__image {
			max-width: 80%;
		}
	}
}	
@media (max-width: 480px) {
	.about-me {
		&__image {
			max-width: 100%;
		}
	}
}
}