// btn

.btn {
	display: inline-block;
	color: $white;
	padding: .75rem 1.2rem;
	text-transform: uppercase;
	transition: all 0.3s;
	border: 1px solid transparent;
	&:hover {
		background-color: $orange;
	}
	&--orange {
		background-color: $orange;
		&:hover {
			background-color: $lightOrange;
		}
	}
	&--black {
		background-color: $black;
	}
	&--extra-m {
		margin: 20px 0;
	}
	&--form {
		max-width: 25%;
		border: none;
	}
	&--ghost {
		border: 1px solid $orange;
		color: $orange;
		&:hover {
			background-color: $orange;
			color: $white;
		}
	}
}