// btn

.btn {
	display: inline-block;
	color: $white;
	padding: .75rem 1.2rem;
	text-transform: uppercase;
	transition: all 0.3s;
	border: 1px solid transparent;
	&:hover {
		background-color: $yellow;
	}
	&--yellow {
		background-color: $yellow;
		text-shadow: 1px 1px 1px $grey;
		&:hover {
			background-color: $lightYellow;
		}
	}
	&--black {
		background-color: $black;
	}
	&--extra-m {
		margin: 20px 0;
	}
	&--form {
		max-width: 25%;
		border: none;
	}
	&--ghost {
		border: 1px solid $yellow;
		color: $yellow;
		&:hover {
			background-color: $yellow;
			color: $white;
			text-shadow: 1px 1px 1px $grey;
		}
	}
}