.contact {
	background-color: $background-grey;
	&__title {
		font-size: 1.4rem;
		font-family: 'Josefin Sans', sans-serif;
		margin-bottom: 10px;
	}
	&__container {
		display: flex;
	}
	&__details {
		display: inline-block;
		color: $black;
		font-family: 'Quicksand', sans-serif;
		margin: 0 0 10px 0;
		padding-bottom: 5px;
		border-bottom: 2px solid $yellow;
	}
	&__details-title {
		font-family: 'Josefin Sans', sans-serif;
		display: inline-block;
		margin-right: 10px;
		color: $black;

	}
	&__social-media {
		margin: 10px 0;
	}
	&__icons {
		font-size: 1.1rem;
	}
}

.form {
		display: flex;
		flex-direction: column;
	}

	input[type="text"] {
		padding: 10px;
		margin: 10px 0;
		border:none;
	}

	textarea {
		padding: 10px;
		margin: 10px 0;
		border: none;
	}


@media (max-width: 830px) {
	.contact {
		&__container {
		flex-direction: column;
		}
	}
	.form {
		padding-top: 20px;
		width: 100%;
	}
}