.education {
	background-image: url(../../assets/images/education-background.png);
	background-size: cover;
	background-position: fixed;
	&__box {
		position: relative;
		background-color: $white;
		padding: 20px;
		margin: 10px;
		width: calc(50% - 40px);
		justify-content: center;
	}
	&__box:after {
		position: absolute;
		left: 0;
		top: 100%;
		content: "";
		width: 100%;
		height: 4px;
		background-color: $orange;
	}
	&__box-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 20px;
	}
	&__position {
		color: $black;
		font-size: 1.4rem;
	}
	&__school {
		color: $orange;
		font-size: 1rem;
		padding: 5px 0;
	}
}