// Hero 

.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/images/hero-image.jpg);
	min-height: 100vh;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	&__logo {
		padding: 20px 0;
		text-transform: uppercase;
	}
	&__text-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 80vh;
	}
	&__title {
		font-size: 1.6rem;
		color: $white;
	}
	&__subtitle {
		font-size: 2.5rem;
		margin: 15px 0 25px 0;
		color: $white;
	}
}