// Hero 

.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/images/hero-image.jpg);
	min-height: 100vh;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	&__logo {
		font-family: 'Roboto Slab', serif;
		display: inline;
		padding: 20px 0;
		text-transform: uppercase;
	}
	&__logo--orange {
		color: $orange;
	}
	&__text-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 80vh;
	}
	&__title {
		font-size: 1.6rem;
		font-family: 'Roboto Slab', serif;
		font-weight: 300;
		color: $white;
	}
	&__subtitle {
		text-transform: uppercase;
		font-family: 'Roboto Slab', serif;
		font-weight: 400;
		font-size: 2.7rem;
		margin: 15px 0 25px 0;
		color: $white;
	}
}

@media (max-width: 830px) {
	.hero__logo {
		font-size: 2rem;
	}
}

@media (max-width: 480px) {
	.hero__logo {
		max-width: 120px;
		text-align: center;
		font-size: 1.5rem;
	}
}