.portfolio {
	background-color: $background-grey;

	&__piece-container {
		display: flex;
		align-items: center;
		padding: 10px 10px;
		margin: 10px 0 40px 0;
		background-color: $white;
		position: relative;
		overflow: hidden;
	}
	&__piece-container:after {
		content: "";
		width: 100%;
		border-style: solid;
		border-width: 2px;
		border-color: $yellow;
		bottom: 0;
		right: 0;
		position: absolute;
	}
	&__piece-container:last-child {
		margin-bottom: 0;
	}
	&__description {
		position: relative;
		background-color: $white;
		padding: 20px;
	}
	&__title {
		color: $black;
		font-family: 'Josefin Sans', sans-serif;
		text-transform: uppercase;
		padding: 10px 0;
		font-size: 1.8rem;
	}
	&__paragraph {
		font-family: 'Quicksand', sans-serif;
		padding: 10px 0;
	}
	&__image {
		max-width: 100%;
	}
}

@media (max-width: 830px) {
	.portfolio {

		&__description {
			width: 100%;
			padding: 0;
		}

		&__piece-container {
			display: block;
			width: 100%;
		}
	}
}